# 框
snippet box "box" b
┌--------┐
|        |
└--------┘
endsnippet
snippet box2 "box2" b
┌──────┐
│      │
└──────┘
endsnippet


# direction
snippet arrowj "arrowj" b
⇂
endsnippet
snippet arrowj1 "arrowj1" b
⇃
endsnippet

snippet arrowk "arrowk" b
↾
endsnippet
snippet arrowk1 "arrowk1" b
↿
endsnippet
 
snippet arrowh "arrowh" b
↼
endsnippet
snippet arrowh1 "arrowh1" b
↽
endsnippet

snippet arrowl "arrowl" b
⇀
endsnippet
snippet arrowl1 "arrowl1" b
⇁
endsnippet

