
/* .terminator-terminal-window notebook tab { */
/*     border: 0; */
/* } */


.terminator-terminal-window notebook header {
    background-color: #2d555c;
    border-color: #2d555c;
    padding:0;
}
.terminator-terminal-window notebook header tab {
    min-height: 0;
    padding: 0;
}

.terminator-terminal-window notebook tab label {
    color: black;
    font-weight: 300;
    border: 0;
    padding:0;
}

.terminator-terminal-window notebook tab:checked label {
    background-color: #05252a;
    color: #ffffff;
    font-weight: 500;
    border-color: #05252a;
    border-style: solid;
    border-top-width: 3px;
}







